{% load i18n cms_tags menu_tags sekizai_tags %}
<!doctype html><html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta charset="utf-8" />
    <title>{% page_attribute page_title %}</title>
	<meta name="description" content="{% page_attribute meta_description %}" />
	<link href="{{ STATIC_URL }}css/style.css" media="all" rel="stylesheet" type="text/css" />
    {% render_block "css" %}

	<style type="text/css">
	body { font:normal 16px/18px "Times New Roman", Times, serif; margin:0; background:#fcfcfc; }

	#header { padding:15px 10px 15px; box-shadow:#eee 0px 2px 5px; background:#fff;
		clear:both; overflow:hidden; }
	#header #logo { float:left; background:#eee; border-radius:10px; }
	#header #logo a { color:#999; display:block; text-align:center; padding:10px 25px; text-decoration:none; }
	#header #nav_lang,
	#header #nav_main { float:left; padding-left:15px; }
	#header #nav_lang ul,
	#header #nav_main ul { list-style-type:none; padding:0; margin:0; }
	#header #nav_lang ul li,
	#header #nav_main ul li { float:left; padding:0; margin:0; }
	#header #nav_lang ul li a,
	#header #nav_main ul li a { float:left; padding:10px 5px; }

{% cms_toolbar %}
<div id="page" class="container_16 ">
	<div id="header">
		<div id="logo">
			<a href="/">Company name</a>
		</div>
		<div id="nav_lang">
			{% spaceless %}
			<ul>
				{% language_chooser %}
			</ul>
			{% endspaceless %}
		</div>
		<div id="nav_main" class="clearfix">
			{% spaceless %}
			<ul>
				 {% show_menu 0 0 100 100 %}
			</ul>
			{% endspaceless %}
		</div>
	</div>
	<ul class="breadcrumb clearfix">
		{% show_breadcrumb %}
	</ul>
	<div id="main">
		{% block content %}{% endblock content %}
	</div>
</div>
	{% render_block "js" %}
</body>
</html>