@charset "utf-8";
/*!
 * @copyright: https://github.com/divio/django-cms
 */

//##############################################################################
// IMPORT SETTINGS
@import "settings/all";
@import "mixins/all";

//##############################################################################
// WIZARD

$wizard-padding: 20px 25px !important;
$wizard-input-size: 16px;

.cms-content-wizard {
    .clear {
        clear: both;
        overflow: hidden;
    }

    .errornote {
        box-sizing: border-box;
        display: block;
            position: absolute;
            left: -9999px;
            opacity: 0;
            visibility: hidden;
        }

        strong {
            display: block;
            font-size: 16px;
            margin-bottom: 3px;
        }

        .info {
            display: block;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &.active {
            border-color: $btn-action-border;
            background: rgba($color-primary-fallback, 45%);
        }
    }
}
