{% load i18n l10n cms_tags cms_js_tags %}

<div id="cms-top"
     class="cms cms-reset
     {% if not user.is_authenticated %} cms-toolbar-auth{% endif %}
     {% if debug %} cms-toolbar-debug{% endif %}"
     dir="ltr" data-touch-action="none">

    {% block toolbar_top %}
    {% endblock toolbar_top %}

    {# start: toolbar #}
    <div class="cms-toolbar">
        <div class="cms-debug-bar"></div>
        <div class="cms-toolbar-left">
        </div>

        <div class="cms-toolbar-right">
            {% for item in cms_toolbar.get_right_items %}
                {{ item.render }}
            {% endfor %}
        </div>
    </div>
    {# end: toolbar #}

    {% block toolbar_bottom %}
    {% endblock toolbar_bottom %}
</div>
